<!-- FOOTER START -->
<div class="footer">
	<div class="footer-div">
		<p>صدقه لجميع من مر من هنا و حمد العبدولي و عبدلله الشحي و محمد بن غريب الشحي <i class="fas fa-heart"></i></p>
	</div>
</div>
<!-- FOOTER END -->
